<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>HomePage</h1>
		<p>Welcome to <%= title %></p>
		<hr />
		<div class="buttons">
			<a href="/api/v1/users/login"
				><button class="home-page-button login-button">LogIn</button></a
			>
			<a href="/api/v1/users/register"
				><button class="home-page-button signup-button">SignUp</button></a
			>
		</div>
	</body>
</html>
