<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>HomePage</h1>
		<p>Welcome to Polling booth</p>
		<hr />
		<div class="buttons">
			<button class="home-page-button login-button">LogIn</button>
			<button class="home-page-button signup-button">SignUp</button>
		</div>
	</body>
</html>
